parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Call to method PHPUnit\\Framework\\Assert::assertInstanceOf\(\) with .* will always evaluate to true#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertIsArray\(\) with .* will always evaluate to true#'
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
